---
import Panel from "../components/Panel.astro";
import Layout from "../layout.astro";

const { api, octokit } = Astro.locals;

async function listRepos() {
  const { data } = await octokit.rest.repos.listForAuthenticatedUser({
    per_page: 20,
    type: "owner",
    sort: "pushed",
  });

  return data;
}

const [repos, statuses] = await Promise.all([
  listRepos(),
  api.request<Record<string, string>>("status"),
]);
---

<Layout>
  <h1>Welcome</h1>
  <ul>
    {
      repos.map((repo) => (
        <Panel repo={repo} status={statuses[repo.full_name]} />
      ))
    }
  </ul>
</Layout>

<style scoped>
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    width: 90vw;
    max-width: 1200px;

    gap: 20px;
    padding: 10px;
  }
</style>
