---
const { value } = Astro.props;
---

<span class="status">{value}</span>

<style scoped>
  .status {
    background: #fff4;
    padding: 0.5em;
    border-radius: 9999px;
    text-align: center;
  }
</style>
