html {
  scroll-behavior: smooth;
}

.md-typeset {
  .examples > ul {
    list-style: none;
    align-items: center;
    grid-template-columns: 4em 1fr;
    display: grid;
    column-gap: 10px;

    li {
      display: grid;
      grid-column: span 2;
      grid-template-columns: subgrid;
      align-items: center;
    }
  }

  .inline-icon {
    display: inline-block;
    height: 1.6em;
    margin-bottom: -0.4em;
    margin-left: 0.2em;
    margin-right: 0.1em;
  }
}
