html {
  scroll-behavior: smooth;
}

.md-typeset {
  .examples > ul {
    list-style: none;
    align-items: center;
    grid-template-columns: 4em 1fr;
    display: grid;
    column-gap: 10px;

    li {
      display: grid;
      grid-column: span 2;
      grid-template-columns: subgrid;
      align-items: center;
    }
  }
}

.md-tooltip {
  top: inherit;
  left: inherit;
  margin-left: 12px;
  margin-top: 7px;
}
